td
  img.img-responsive(width="55px" height="90px" src=cover.url)
td= title
td= meta.dateAdded
td= meta.watches
td= meta.favorites
td
  canvas(width="200" height="100")
td
  div.btn-group
    button.btn.btn-default Edit
    button.btn.btn-default Delete